# Please keep the lines in this file sorted.
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/build.xml export-ignore
/phpcs.xml export-ignore
/tests export-ignore
