includes:
    - rules.neon

services:
    -
        class: PhpParser\NodeVisitor\NodeConnectingVisitor
    -
        class: SaschaEgerer\PhpstanTypo3\Type\ValidatorResolverDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\ContextDynamicReturnTypeExtension
        arguments:
            contextApiGetAspectMapping: %typo3.contextApiGetAspectMapping%
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Rule\ContextAspectValidationRule
        arguments:
            contextApiGetAspectMapping: %typo3.contextApiGetAspectMapping%
        tags:
            - phpstan.rules.rule
    -
        class: SaschaEgerer\PhpstanTypo3\Rule\RequestAttributeValidationRule
        arguments:
            requestGetAttributeMapping: %typo3.requestGetAttributeMapping%
        tags:
            - phpstan.rules.rule
    -
        class: SaschaEgerer\PhpstanTypo3\Rule\SiteAttributeValidationRule
        arguments:
            siteGetAttributeMapping: %typo3.siteGetAttributeMapping%
        tags:
            - phpstan.rules.rule
    -
        class: SaschaEgerer\PhpstanTypo3\Type\RequestDynamicReturnTypeExtension
        arguments:
            requestGetAttributeMapping: %typo3.requestGetAttributeMapping%
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\SiteDynamicReturnTypeExtension
        arguments:
            siteGetAttributeMapping: %typo3.siteGetAttributeMapping%
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Service\ValidatorClassNameResolver
    -
        class: SaschaEgerer\PhpstanTypo3\Type\PropertyMapperReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Bnf\PhpstanPsrContainer\ContainerDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\MathUtilityTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\GeneralUtilityGetIndpEnvDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\UserAspectGetDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\DateTimeAspectGetDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Service\PrivateServiceAnalyzer
    -
        class: SaschaEgerer\PhpstanTypo3\Service\PrototypeServiceDefinitionChecker
    # service map
    typo3.serviceMapFactory:
        class: SaschaEgerer\PhpstanTypo3\Contract\ServiceMapFactory
        factory: SaschaEgerer\PhpstanTypo3\Service\XmlServiceMapFactory
        arguments:
             containerXmlPath: %typo3.containerXmlPath%
    -
        factory: @typo3.serviceMapFactory::create()
parameters:
    bootstrapFiles:
        - phpstan.bootstrap.php
    typo3:
        containerXmlPath: null
        contextApiGetAspectMapping:
            backend.user: TYPO3\CMS\Core\Context\UserAspect
            date: TYPO3\CMS\Core\Context\DateTimeAspect
            fileProcessing: TYPO3\CMS\Core\Context\FileProcessingAspect
            frontend.preview: TYPO3\CMS\Core\Context\PreviewAspect
            frontend.user: TYPO3\CMS\Core\Context\UserAspect
            language: TYPO3\CMS\Core\Context\LanguageAspect
            security: TYPO3\CMS\Core\Context\SecurityAspect
            typoscript: TYPO3\CMS\Core\Context\TypoScriptAspect
            visibility: TYPO3\CMS\Core\Context\VisibilityAspect
            workspace: TYPO3\CMS\Core\Context\WorkspaceAspect
        requestGetAttributeMapping:
            adminPanelRequestId: string
            applicationType: TYPO3\CMS\Core\Core\SystemEnvironmentBuilder::REQUESTTYPE_*
            currentContentObject: TYPO3\CMS\Frontend\ContentObject\ContentObjectRenderer
            extbase: TYPO3\CMS\Extbase\Mvc\ExtbaseRequestParameters
            frontend.cache.collector: TYPO3\CMS\Core\Cache\CacheDataCollector
            frontend.cache.instruction: TYPO3\CMS\Frontend\Cache\CacheInstruction
            frontend.page.information: TYPO3\CMS\Frontend\Page\PageInformation
            frontend.typoscript: TYPO3\CMS\Core\TypoScript\FrontendTypoScript
            frontend.user: TYPO3\CMS\Frontend\Authentication\FrontendUserAuthentication
            language: TYPO3\CMS\Core\Site\Entity\SiteLanguage
            module: TYPO3\CMS\Backend\Module\ModuleInterface
            moduleData: TYPO3\CMS\Backend\Module\ModuleData
            nonce: TYPO3\CMS\Core\Security\ContentSecurityPolicy\ConsumableNonce
            normalizedParams: TYPO3\CMS\Core\Http\NormalizedParams
            originalRequest: Psr\Http\Message\ServerRequestInterface
            routing: TYPO3\CMS\Core\Routing\SiteRouteResult|TYPO3\CMS\Core\Routing\PageArguments
            site: TYPO3\CMS\Core\Site\Entity\Site
            target: string
            typo3.testing.context: TYPO3\TestingFramework\Core\Functional\Framework\Frontend\InternalRequestContext
        siteGetAttributeMapping:
            base: string
            baseVariants: list
            errorHandling: list
            languages: list
            rootPageId: int
            routeEnhancers: array
            settings: array
            websiteTitle: string
    stubFiles:
        - stubs/DomainObjectInterface.stub
        - stubs/ObjectStorage.stub
        - stubs/ObjectMonitoringInterface.stub
        - stubs/QueryInterface.stub
        - stubs/QueryResultInterface.stub
        - stubs/Repository.stub
        - stubs/RepositoryInterface.stub
    dynamicConstantNames:
        - TYPO3_MODE
        - TYPO3_REQUESTTYPE
        - TYPO3_COMPOSER_MODE
        - TYPO3_branch
        - TYPO3_version
        - TYPO3_OS
        - TYPO3_copyright_year
        - PATH_thisScript
        - PATH_site
        - PATH_typo3conf
        - PATH_typo3
        - TYPO3_mainDir
    earlyTerminatingMethodCalls:
        TYPO3\CMS\Extbase\Mvc\Controller\ActionController:
            - redirectToUri
            - redirect
            - forward
            - forwardToReferringRequest
            - throwStatus
        TYPO3\CMS\Core\Utility\HttpUtility:
            - redirect
            - setResponseCodeAndExit
        TYPO3\CMS\Form\Domain\Finishers\RedirectFinisher:
            - redirectToUri
        TYPO3\CMS\Extensionmanager\Utility\FileHandlingUtility:
            - sendZipFileToBrowserAndDelete
parametersSchema:
    typo3: structure([
        containerXmlPath: schema(string(), nullable())
        contextApiGetAspectMapping: arrayOf(string())
        requestGetAttributeMapping: arrayOf(string())
        siteGetAttributeMapping: arrayOf(string())
    ])
conditionalTags:
    PhpParser\NodeVisitor\NodeConnectingVisitor:
        phpstan.parser.richParserNodeVisitor: true
