services:
    -
        class: SaschaEgerer\PhpstanTypo3\Reflection\RepositoryFindMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Reflection\RepositoryCountByMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\ObjectManagerDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\QueryInterfaceDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\QueryResultToArrayDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\RepositoryDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\ValidatorResolverDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\ContextDynamicReturnTypeExtension
        arguments:
            contextApiGetAspectMapping: %typo3.contextApiGetAspectMapping%
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Rule\ContextAspectValidationRule
        arguments:
            contextApiGetAspectMapping: %typo3.contextApiGetAspectMapping%
        tags:
            - phpstan.rules.rule
    -
        class: SaschaEgerer\PhpstanTypo3\Rule\RequestAttributeValidationRule
        arguments:
            requestGetAttributeMapping: %typo3.requestGetAttributeMapping%
        tags:
            - phpstan.rules.rule
    -
        class: SaschaEgerer\PhpstanTypo3\Type\RepositoryQueryDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\RepositoryFindAllDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: SaschaEgerer\PhpstanTypo3\Type\RequestDynamicReturnTypeExtension
        arguments:
            requestGetAttributeMapping: %typo3.requestGetAttributeMapping%
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
parameters:
    bootstrapFiles:
        - phpstan.bootstrap.php
    typo3:
        contextApiGetAspectMapping:
            date: TYPO3\CMS\Core\Context\DateTimeAspect
            visibility: TYPO3\CMS\Core\Context\VisibilityAspect
            backend.user: TYPO3\CMS\Core\Context\UserAspect
            frontend.user: TYPO3\CMS\Core\Context\UserAspect
            workspace: TYPO3\CMS\Core\Context\WorkspaceAspect
            language: TYPO3\CMS\Core\Context\LanguageAspect
            typoscript: TYPO3\CMS\Core\Context\TypoScriptAspect
        requestGetAttributeMapping:
            backend.user: TYPO3\CMS\Backend\FrontendBackendUserAuthentication
            frontend.user: TYPO3\CMS\Frontend\Authentication\FrontendUserAuthentication
            language: TYPO3\CMS\Core\Site\Entity\SiteLanguage
            module: TYPO3\CMS\Backend\Module\ModuleInterface
            moduleData: TYPO3\CMS\Backend\Module\ModuleData
            normalizedParams: TYPO3\CMS\Core\Http\NormalizedParams
            site: TYPO3\CMS\Core\Site\Entity\Site
    stubFiles:
        - stubs/DomainObjectInterface.stub
        - stubs/GeneralUtility.stub
        - stubs/ObjectStorage.stub
        - stubs/QueryFactory.stub
        - stubs/QueryInterface.stub
        - stubs/QueryResultInterface.stub
        - stubs/QueryResult.stub
        - stubs/Repository.stub
    dynamicConstantNames:
        - TYPO3_MODE
        - TYPO3_REQUESTTYPE
        - TYPO3_COMPOSER_MODE
        - TYPO3_branch
        - TYPO3_version
        - TYPO3_OS
        - TYPO3_copyright_year
        - PATH_thisScript
        - PATH_site
        - PATH_typo3conf
        - PATH_typo3
        - TYPO3_mainDir
    earlyTerminatingMethodCalls:
        TYPO3\CMS\Extbase\Mvc\Controller\ActionController:
            - redirectToUri
            - redirect
            - forward
            - forwardToReferringRequest
            - throwStatus
        TYPO3\CMS\Extbase\Mvc\Controller\AbstractController:
            - redirectToUri
            - redirect
            - forward
            - throwStatus
        TYPO3\CMS\Core\Utility\HttpUtility:
            - redirect
            - setResponseCodeAndExit
        TYPO3\CMS\Form\Domain\Finishers\RedirectFinisher:
            - redirectToUri
        TYPO3\CMS\Extbase\Mvc\Controller\CommandController:
            - forward
            - quit
        TYPO3\CMS\Extensionmanager\Utility\FileHandlingUtility:
            - sendZipFileToBrowserAndDelete
        TYPO3\CMS\Frontend\Controller\TypoScriptFrontendController:
            - pageUnavailableAndExit
            - pageNotFoundAndExit
            - pageErrorHandler
        TYPO3\CMS\Recordlist\RecordList\DatabaseRecordList:
            - pageErrorHandler
parametersSchema:
    typo3: structure([
        contextApiGetAspectMapping: arrayOf(string())
        requestGetAttributeMapping: arrayOf(string())
    ])
