includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - extension.neon
    - tests/Unit/Type/data/context-get-aspect-return-types.neon
    - tests/Unit/Type/data/request-get-attribute-return-types.neon
    - tests/Unit/Type/data/site-get-attribute-return-types.neon

parameters:
    level: 8
    paths:
         - src
         - tests
    reportUnmatchedIgnoredErrors: false
    excludePaths:
         - '*tests/*/Fixture/*'
         - '*tests/*/Source/*'
    ignoreErrors:
        -
            message: '#^Class TYPO3\\CMS\\Core\\Context\\[a-zA-Z]* not found\.#'
            path: src/Type/ContextDynamicReturnTypeExtension.php
        -
            message: "#^Calling PHPStan\\\\Reflection\\\\InitializerExprTypeResolver\\:\\:getClassConstFetchType\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
            count: 1
            path: src/Rule/ValidatorResolverOptionsRule.php
