includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - extension.neon
    - tests/Unit/Type/data/context-get-aspect-return-types.neon
    - tests/Unit/Type/data/request-get-attribute-return-types.neon

parameters:
    level: 8
    paths:
         - src
         - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#^Class TYPO3\\CMS\\Core\\Context\\[a-zA-Z]* not found\.#'
            path: %currentWorkingDirectory%/src/Type/ContextDynamicReturnTypeExtension.php
