<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
		 cacheDirectory=".phpunit.result.cache"
		 displayDetailsOnTestsThatTriggerDeprecations="true"
		 displayDetailsOnTestsThatTriggerErrors="true"
		 displayDetailsOnTestsThatTriggerNotices="true"
		 displayDetailsOnTestsThatTriggerWarnings="true"
		 displayDetailsOnPhpunitDeprecations="true"
		 failOnWarning="true">
	<php>
		<ini name="memory_limit" value="512M"/>
	</php>
	<testsuites>
		<testsuite name="default">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
		<include>
			<directory>src</directory>
		</include>
	</source>
</phpunit>
