includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - %rootDir%/../../../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../extension.neon
    - ./Unit/Type/data/context-get-aspect-return-types.neon
    - ./Unit/Type/data/request-get-attribute-return-types.neon
    - ./Unit/Type/data/site-get-attribute-return-types.neon

parameters:
    level: 8
    paths:
         - ../src
         - ../tests
    scanFiles:
        - Unit/Type/data/repository-stub-files.php
        - Unit/Type/data/object-storage-stub-files.php
        - Unit/Type/data/query-factory-stub-files.php
        - Unit/Type/data/custom-query-type.php
        - Unit/Type/data/context-get-aspect-return-types.php
        - Unit/Type/data/request-get-attribute-return-types.php
        - Unit/Type/data/site-get-attribute-return-types.php
        - Unit/Type/QueryResultToArrayDynamicReturnTypeExtension/data/query-result-to-array.php
        - Unit/Type/MathUtilityTypeSpecifyingExtension/data/MathUtilityType.php
        - Unit/Type/DateTimeAspectGetDynamicReturnTypeExtension/data/datetime-aspect-get-return-types.php
        - Unit/Type/UserAspectGetDynamicReturnTypeExtension/data/user-aspect-get-return-types.php
        - Unit/Type/GeneralUtilityGetIndpEnvDynamicReturnTypeExtension/data/GeneralUtilityGetIndpEnv.php
        - Unit/Type/PropertyMapperReturnTypeExtension/data/property-converter-types.php
    reportUnmatchedIgnoredErrors: false
    excludePaths:
         - '*tests/*/Fixtures/*'
         - '*tests/*/Fixture/*'
         - '*tests/*/Source/*'
         - '*tests/*/data/*'
    ignoreErrors:
        -
            message: "#^Calling PHPStan\\\\Reflection\\\\InitializerExprTypeResolver\\:\\:getClassConstFetchType\\(\\) is not covered by backward compatibility promise\\. The method might change in a minor PHPStan version\\.$#"
            count: 1
            path: src/Rule/ValidatorResolverOptionsRule.php
        -
            message: '#^Although PHPStan\\Reflection\\Php\\PhpPropertyReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
            identifier: phpstanApi.instanceofAssumption
            count: 1
            path: src/Rule/ValidatorResolverOptionsRule.php
        -
            message: '#^Node attribute ''parent'' is no longer available\.$#'
            identifier: phpParser.nodeConnectingAttribute
            count: 2
            path: src/Type/MathUtilityTypeSpecifyingExtension.php
